<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Users</h1>

<div th:if="${not #lists.isEmpty(users)}">
    <table class="table table-striped">
        <tr>
            <th> name</th>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.username}"></td>
            <td>
                <form th:action="@{users}" th:method="POST" th:object="${user}">
                    <input type="hidden" name="id" placeholder="name" th:value="${user.id}" id="id"/>
                    <button type="submit" value="Submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</div>

</body>
</html>